.zeine-1 {
    background-image: url(@/assets/maps/Zeine_1.jpg);
    height: 697px !important;
    .icon-dungeon {width: 25px;}
    .icon-soul {width: 19px;}
    .icon-soul-event {width: 65px;}
    .icon-story-event {width: 57px;}
    .icon-tablet {width: 37px;}
    .icon-zeine-town {width: 45px;}
    
    .story-1 {transform: translate3d(884px, 561px, 0px);}
    .story-2 {transform: translate3d(910px, 511px, 0px);}
    .story-3 {transform: translate3d(926px, 462px, 0px);}
    .story-4 {transform: translate3d(805px, 318px, 0px);}
    .story-5 {transform: translate3d(595px, 418px, 0px);}
    .story-6 {transform: translate3d(271px, 103px, 0px);}
    .story-7 {transform: translate3d(680px, 549px, 0px);}
    .soulevent-1 {transform: translate3d(447px, 272px, 0px);}
    .town-1 {transform: translate3d(787px, 354px, 0px);}
    .town-2 {transform: translate3d(259px, 195px, 0px);}
    .tablet-1 {transform: translate3d(995px, 425px, 0px);}
    .tablet-2 {transform: translate3d(570px, 370px, 0px)} 
    .tablet-3 {transform: translate3d(660px, 338px, 0px)}
    .tablet-4 {transform: translate3d(731px, 351px, 0px);}
    .tablet-5 {transform: translate3d(605px, 51px, 0px);}
    .dungeon-1 {transform: translate3d(660px, 178px, 0px);}
    .dungeon-2 {transform: translate3d(832px, 231px, 0px);}
    .soul-1 {transform: translate3d(845px, 553px, 0px);}
    .soul-2 {transform: translate3d(980px, 394px, 0px);}
    .soul-3 {transform: translate3d(497px, 427px, 0px);}
    .soul-4 {transform: translate3d(396px, 321px, 0px);}
    .soul-5 {transform: translate3d(69px, 166px, 0px);}
    .soul-6 {transform: translate3d(537px, 55px, 0px);}
    .soul-7 {transform: translate3d(664px, 458px, 0px);}
    .soul-8 {transform: translate3d(769px, 207px, 0px);}
    .soul-9 {transform: translate3d(355px, 47px, 0px);}
    .soul-10 {transform: translate3d(355px, 511px, 0px);}
}

.zeine-2 {
    background-image: url(@/assets/maps/Zeine_2.jpg);
    height: 630px !important;
    .icon-dungeon {width: 25px;}
    .icon-soul {width: 19px;}
    .icon-soul-event {width: 65px;}
    .icon-story-event {width: 57px;}
    .icon-tablet {width: 37px;}
    .icon-zeine-town {width: 45px;}
    
    .dungeon-1 {transform: translate3d(604px, 196px, 0px);}
    .story-1 {transform: translate3d(295px, 188px, 0px);}
    .soulevent-1 {transform: translate3d(167px, 60px, 0px);}
    .soulevent-2 {transform: translate3d(191px, 239px, 0px)}
    .story-2 {transform: translate3d(682px, 186px, 0px);}
    .soulevent-3 {transform: translate3d(753px, 327px, 0px);}
    .soulevent-4 {transform: translate3d(548px, 359px, 0px);}
    .story-3 {transform: translate3d(607px, 317px, 0px);}
    .dungeon-2 {transform: translate3d(452px, 425px, 0px);}
    .town-1 {transform: translate3d(291px, 156px, 0px);}
    .town-2 {transform: translate3d(685px, 287px, 0px);}
    .tablet-1 {transform: translate3d(303px, 221px, 0px);}
    .tablet-2 {transform: translate3d(730px, 156px, 0px);} 
    .tablet-3 {transform: translate3d(655px, 240px, 0px);}
    .tablet-4 {transform: translate3d(458px, 164px, 0px);}
    .soul-1 {transform: translate3d(62px, 161px, 0px);}
    .soul-2 {transform: translate3d(386px, 314px, 0px);}
    .soul-3 {transform: translate3d(137px, 386px, 0px);}
    .soul-4 {transform: translate3d(848px, 142px, 0px);}
    .soul-5 {transform: translate3d(843px, 309px, 0px);}
    .soul-6 {transform: translate3d(341px, 485px, 0px);}
    .soul-7 {transform: translate3d(240px, 107px, 0px);}
    .soul-8 {transform: translate3d(284px, 265px, 0px)}
    .soul-9 {transform: translate3d(620px, 282px, 0px);}
    .soul-10 {transform: translate3d(279px, 134px, 0px);}
    .soul-11 {transform: translate3d(1049px, 92px, 0px);}
    .soul-12 {transform: translate3d(371px, 410px, 0px);}
    .soul-13 {transform: translate3d(406px, 161px, 0px);}
    .soul-14 {transform: translate3d(237px, 556px, 0px);}
}

.zeine-3 {
    background-image: url(@/assets/maps/Zeine_3.jpg);
    height: 574px !important;
    .icon-dungeon {width: 25px;}
    .icon-soul {width: 19px;}
    .icon-soul-event {width: 65px;}
    .icon-story-event {width: 57px;}
    .icon-tablet {width: 37px;}
    .icon-zeine-town {width: 45px;}
    
    .dungeon-1 {transform: translate3d(673px, 80px, 0px);}
    .soulevent-1 {transform: translate3d(545px, 149px, 0px);}
    .soulevent-2 {transform: translate3d(709px, 294px, 0px);}
    .story-1 {transform: translate3d(518px, 248px, 0px);}
    .soulevent-3 {transform: translate3d(289px, 261px, 0px);}
    .soulevent-4 {transform: translate3d(570px, 432px, 0px);}
    .story-2 {transform: translate3d(927px, 167px, 0px);}
    .soulevent-5 {transform: translate3d(992px, 83px, 0px);}
    .story-3 {transform: translate3d(779px, 387px, 0px);}
    .dungeon-2 {transform: translate3d(773px, 361px, 0px);}
    .town-1 {transform: translate3d(889px, 325px, 0px);}
    .town-2 {transform: translate3d(449px, 223px, 0px);}
    .tablet-1 {transform: translate3d(458px, 264px, 0px);}
    .tablet-2 {transform: translate3d(832px, 373px, 0px);} 
    .tablet-3 {transform: translate3d(713px, 348px, 0px);}
    .soul-1 {transform: translate3d(447px, 148px, 0px);}
    .soul-2 {transform: translate3d(623px, 276px, 0px);}
    .soul-3 {transform: translate3d(365px, 232px, 0px);}
    .soul-4 {transform: translate3d(344px, 353px, 0px);}
    .soul-5 {transform: translate3d(540px, 421px, 0px);}
    .soul-6 {transform: translate3d(865px, 434px, 0px);}
    .soul-7 {transform: translate3d(1002px, 302px, 0px);}
    .soul-8 {transform: translate3d(838px, 30px, 0px);}
    .soul-9 {transform: translate3d(686px, 381px, 0px);}
    .soul-10 {transform: translate3d(95px, 281px, 0px);}
    .soul-11 {transform: translate3d(647px, 149px, 0px);}
    .soul-12 {transform: translate3d(525px, 86px, 0px);}
    .soul-13 {transform: translate3d(709px, 341px, 0px);}
    .soul-14 {transform: translate3d(1033px, 107px, 0px);}
}

.wilkiet-1 {
    background-image: url(@/assets/maps/Wilkiet_1.jpg);
    height: 904px !important;
    .icon-dungeon {width: 25px;}
    .icon-soul {width: 19px;}
    .icon-soul-event {width: 65px;}
    .icon-story-event {width: 57px;}
    .icon-tablet {width: 37px;}
    .icon-wilkiet-town {width: 58px;}

    .dungeon-1 {transform: translate3d(985px, 226px, 0px);}
    .story-1 {transform: translate3d(895px, 220px, 0px);}
    .story-2 {transform: translate3d(839px, 388px, 0px);}
    .story-3 {transform: translate3d(668px, 348px, 0px);}
    .soulevent-1 {transform: translate3d(1031px, 336px, 0px);}
    .soulevent-2 {transform: translate3d(896px, 262px, 0px);}
    .soulevent-3 {transform: translate3d(615px, 510px, 0px);}
    .story-4 {transform: translate3d(357px, 522px, 0px);}
    .story-5 {transform: translate3d(345px, 382px, 0px);}
    .soulevent-4 {transform: translate3d(507px, 366px, 0px);}
    .story-6 {transform: translate3d(460px, 232px, 0px);}
    .soulevent-5 {transform: translate3d(632px, 160px, 0);}
    .dungeon-2 {transform: translate3d(569px, 701px, 0px);}
    .soulevent-6 {transform: translate3d(333px, 297px, 0px);}
    .soulevent-7 {transform: translate3d(168px, 297px, 0px);}
    .soulevent-8 {transform: translate3d(786px, 307px, 0px);}
    .town-1 {transform: translate3d(811px, 268px, 0px);}
    .town-2 {transform: translate3d(546px, 462px, 0px);}
    .town-3 {transform: translate3d(356px, 223px, 0px);}
    .tablet-1 {transform: translate3d(630px, 442px, 0px);}
    .tablet-2 {transform: translate3d(392px, 491px, 0px);} 
    .tablet-3 {transform: translate3d(351px, 279px, 0px);}
    .tablet-4 {transform: translate3d(383px, 641px, 0px);}
    .tablet-5 {transform: translate3d(738px, 579px, 0px);}

    .soul-1 {transform: translate3d(729px, 295px, 0px);}
    .soul-2 {transform: translate3d(970px, 348px, 0px);}
    .soul-3 {transform: translate3d(871px, 420px, 0px);}
    .soul-4 {transform: translate3d(593px, 440px, 0px);}
    .soul-5 {transform: translate3d(337px, 564px, 0px);}
    .soul-6 {transform: translate3d(302px, 393px, 0px);}
    .soul-7 {transform: translate3d(467px, 355px, 0px);}
    .soul-8 {transform: translate3d(741px, 95px, 0px);}
    .soul-9 {transform: translate3d(525px, 86px, 0px);}
    .soul-10 {transform: translate3d(308px, 152px, 0px);}
    .soul-11 {transform: translate3d(67px, 304px, 0px);}
    .soul-12 {transform: translate3d(143px, 534px, 0px);}
    .soul-13 {transform: translate3d(501px, 519px, 0px);}
    .soul-14 {transform: translate3d(752px, 145px, 0px);}
    .soul-15 {transform: translate3d(206px, 421px, 0px);}
    .soul-16 {transform: translate3d(491px, 273px, 0px);}
}


.wilkiet-2 {
    background-image: url(@/assets/maps/Wilkiet_2.jpg);
    height: 464px !important;
    .icon-dungeon {width: 25px;}
    .icon-soul {width: 19px;}
    .icon-soul-event {width: 65px;}
    .icon-story-event {width: 57px;}
    .icon-tablet {width: 37px;}
    .icon-wilkiet-town {width: 58px;}
    
    .dungeon-1 {transform: translate3d(845px, 267px, 0px);}
    .story-1 {transform: translate3d(723px, 216px, 0px);}
    .town-1 {transform: translate3d(673px, 187px, 0px);}
    .soulevent-1 {transform: translate3d(541px, 273px, 0px);}
    .soulevent-2 {transform: translate3d(1020px, 354px, 0px);}
    .soulevent-3 {transform: translate3d(294px, 265px, 0px);}
    .soulevent-4 {transform: translate3d(540px, 120px, 0px);}
    .story-2 {transform: translate3d(432px, 241px, 0px);}
    .story-3 {transform: translate3d(250px, 170px, 0px);}
    .dungeon-2 {transform: translate3d(143px, 83px, 0px);}
    .soulevent-5 {transform: translate3d(91px, 100px, 0px);}
    .town-2 {transform: translate3d(228px, 58px, 0px);}
    .tablet-1 {transform: translate3d(581px, 189px, 0px);}
    .tablet-2 {transform: translate3d(363px, 199px, 0px);} 
    .tablet-3 {transform: translate3d(252px, 95px, 0px);}
    .tablet-4 {transform: translate3d(259px, 3px, 0px);}
    .dungeon-3 {transform: translate3d(442px, 124px, 0px);}

    .soul-1 {transform: translate3d(917px, 275px, 0px);}
    .soul-2 {transform: translate3d(603px, 300px, 0px);}
    .soul-3 {transform: translate3d(672px, 75px, 0px);}
    .soul-4 {transform: translate3d(443px, 340px, 0px);}
    .soul-5 {transform: translate3d(368px, 317px, 0px);}
    .soul-6 {transform: translate3d(364px, 62px, 0px);}
    .soul-7 {transform: translate3d(329px, 131px, 0px);}
    .soul-8 {transform: translate3d(178px, 264px, 0px);}
    .soul-9 {transform: translate3d(108px, 183px, 0px);}
    .soul-10 {transform: translate3d(51px, 56px, 0px);}
    .soul-11 {transform: translate3d(744px, 185px, 0px);}
    .soul-12 {transform: translate3d(958px, 352px, 0px);}
    .soul-13 {transform: translate3d(571px, 256px, 0px);}
    .soul-14 {transform: translate3d(420px, 150px, 0px);}
}

.wilkiet-3 {
    background-image: url(@/assets/maps/Wilkiet_3.jpg);
    height: 676px !important;
    .icon-dungeon {width: 25px;}
    .icon-soul {width: 19px;}
    .icon-soul-event {width: 65px;}
    .icon-story-event {width: 57px;}
    .icon-tablet {width: 37px;}
    .icon-wilkiet-town {width: 58px;}
    
    .dungeon-1 {transform: translate3d(775px, 359px, 0px);}
    .story-1 {transform: translate3d(725px, 153px, 0px);}
    .soulevent-1 {transform: translate3d(734px, 106px, 0px);}
    .soulevent-2 {transform: translate3d(834px, 229px, 0px);}
    .soulevent-3 {transform: translate3d(725px, 482px, 0px);}
    .story-2 {transform: translate3d(529px, 87px, 0px);}
    .soulevent-4 {transform: translate3d(412px, 144px, 0px);}
    .soulevent-5 {transform: translate3d(225px, 440px, 0px);}
    .soulevent-6 {transform: translate3d(504px, 404px, 0px);}
    .story-3 {transform: translate3d(132px, 396px, 0px);}
    .story-4 {transform: translate3d(326px, 372px, 0px);}
    .dungeon-2 {transform: translate3d(154px, 326px, 0px);}
    .soulevent-7 {transform: translate3d(681px, 346px, 0px);}
    .town-1 {transform: translate3d(823px, 353px, 0px);}
    .town-2 {transform: translate3d(313px, 204px, 0px);}
    .tablet-1 {transform: translate3d(462px, 106px, 0px);}
    .tablet-2 {transform: translate3d(602px, 26px, 0px);} 

    .soul-1 {transform: translate3d(594px, 195px, 0px);}
    .soul-2 {transform: translate3d(725px, 8px, 0px);}
    .soul-3 {transform: translate3d(336px, 92px, 0px);}
    .soul-4 {transform: translate3d(57px, 374px, 0px);}
    .soul-5 {transform: translate3d(317px, 593px, 0px);}
    .soul-6 {transform: translate3d(568px, 377px, 0px);}
    .soul-7 {transform: translate3d(929px, 491px, 0px);}
    .soul-8 {transform: translate3d(924px, 230px, 0px);}
    .soul-9 {transform: translate3d(1042px, 224px, 0px);}
    .soul-10 {transform: translate3d(648px, 150px, 0px);}
    .soul-11 {transform: translate3d(237px, 206px, 0px);}
    .soul-12 {transform: translate3d(414px, 529px, 0px);}
    .soul-13 {transform: translate3d(571px, 256px, 0px);}
    .soul-14 {transform: translate3d(610px, 509px, 0px);}
}

.brosste-1 {
    background-image: url(@/assets/maps/Brosste_1.jpg);
    height: 1265px !important;
    .icon-dungeon {width: 25px;}
    .icon-soul {width: 19px;}
    .icon-soul-event {width: 65px;}
    .icon-story-event {width: 57px;}
    .icon-tablet {width: 42px;}
    .icon-brosste-town {width: 58px;}
    
    .dungeon-1 {transform: translate3d(249px, 193px, 0px);}
    .soulevent-1 {transform: translate3d(483px, 44px, 0px);}
    .story-1 {transform: translate3d(451px, 301px, 0px);}
    .soulevent-2 {transform: translate3d(330px, 494px, 0px);}
    .soulevent-3 {transform: translate3d(640px, 904px, 0px);}
    .soulevent-4 {transform: translate3d(582px, 1112px, 0px);}
    .story-2 {transform: translate3d(615px, 137px, 0px);}
    .dungeon-2 {transform: translate3d(906px, 220px, 0px);}
    .town-1 {transform: translate3d(512px, 186px, 0px);}
    .town-2 {transform: translate3d(488px, 901px, 0px);}
    .tablet-1 {transform: translate3d(405px, 336px, 0px);}
    .tablet-2 {transform: translate3d(605px, 309px, 0px);} 
    .tablet-3 {transform: translate3d(751px, 31px, 0px);} 

    .soul-1 {transform: translate3d(71px, 211px, 0px);}
    .soul-2 {transform: translate3d(636px, 28px, 0px);}
    .soul-3 {transform: translate3d(225px, 636px, 0px);}
    .soul-4 {transform: translate3d(698px, 519px, 0px);}
    .soul-5 {transform: translate3d(854px, 1061px, 0px);}
    .soul-6 {transform: translate3d(314px, 1029px, 0px);}
    .soul-7 {transform: translate3d(659px, 390px, 0px);}
    .soul-8 {transform: translate3d(775px, 359px, 0px);}
    .soul-9 {transform: translate3d(776px, 134px, 0px);}
    .soul-10 {transform: translate3d(1005px, 194px, 0px);}
    .soul-11 {transform: translate3d(414px, 270px, 0px);}
    .soul-12 {transform: translate3d(620px, 512px, 0px);}
    .soul-13 {transform: translate3d(661px, 1064px, 0px);}
    .soul-14 {transform: translate3d(367px, 535px, 0px);}
}

.brosste-2 {
    background-image: url(@/assets/maps/Brosste_2.jpg);
    height: 831px !important;
    .icon-dungeon {width: 25px;}
    .icon-soul {width: 19px;}
    .icon-soul-event {width: 65px;}
    .icon-story-event {width: 57px;}
    .icon-tablet {width: 42px;}
    .icon-brosste-town {width: 58px;}
    
    .dungeon-1 {transform: translate3d(374px, 121px, 0px);}
    .story-1 {transform: translate3d(602px, 65px, 0px);}
    .soulevent-1 {transform: translate3d(127px, 245px, 0px);}
    .soulevent-2 {transform: translate3d(294px, 346px, 0px);}
    .soulevent-3 {transform: translate3d(507px, 273px, 0px);}
    .story-2 {transform: translate3d(295px, 221px, 0px);}
    .story-3 {transform: translate3d(603px, 277px, 0px);}
    .soulevent-4 {transform: translate3d(667px, 442px, 0px);}
    .soulevent-5 {transform: translate3d(1008px, 397px, 0px);}
    .dungeon-2 {transform: translate3d(669px, 180px, 0px);}
    .town-1 {transform: translate3d(384px, 205px, 0px);}
    .town-2 {transform: translate3d(868px, 391px, 0px);}
    .tablet-1 {transform: translate3d(578px, 95px, 0px);}
    .tablet-2 {transform: translate3d(636px, 259px, 0px);} 
    .tablet-3 {transform: translate3d(725px, 62px, 0px);}
    .dungeon-3 {transform:translate3d(524px, 43px, 0px);}

    .soul-1 {transform: translate3d(54px, 279px, 0px);}
    .soul-2 {transform: translate3d(505px, 241px, 0px);}
    .soul-3 {transform: translate3d(422px, 463px, 0px);}
    .soul-4 {transform: translate3d(655px, 404px, 0px);}
    .soul-5 {transform: translate3d(737px, 497px, 0px);}
    .soul-6 {transform: translate3d(821px, 361px, 0px);}
    .soul-7 {transform: translate3d(952px, 476px, 0px);}
    .soul-8 {transform: translate3d(900px, 274px, 0px);}
    .soul-9 {transform: translate3d(499px, 60px, 0px);}
    .soul-10 {transform: translate3d(332px, 180px, 0px);}
    .soul-11 {transform: translate3d(146px, 195px, 0px);}
    .soul-12 {transform: translate3d(225px, 305px, 0px);}
    .soul-13 {transform: translate3d(764px, 534px, 0px);}
    .soul-14 {transform: translate3d(854px, 679px, 0px);}
    .soul-15 {transform: translate3d(951px, 630px, 0px);}
    .soul-16 {transform: translate3d(805px, 168px, 0px);}
}

.brosste-3 {
    background-image: url(@/assets/maps/Brosste_3.jpg);
    height: 524px !important;
    .icon-dungeon {width: 25px;}
    .icon-soul {width: 19px;}
    .icon-soul-event {width: 65px;}
    .icon-story-event {width: 57px;}
    .icon-tablet {width: 42px;}
    .icon-brosste-town {width: 58px;}
    
    .dungeon-1 {transform: translate3d(631px, 77px, 0px);}
    .story-1 {transform: translate3d(543px, 128px, 0px);}
    .story-2 {transform: translate3d(390px, 195px, 0px);}
    .soulevent-1 {transform: translate3d(732px, 66px, 0px);}
    .soulevent-2 {transform: translate3d(230px, 291px, 0px);}
    .soulevent-3 {transform: translate3d(72px, 359px, 0px);}
    .story-3 {transform: translate3d(349px, 188px, 0px);}
    .soulevent-4 {transform: translate3d(449px, 58px, 0px);}
    .soulevent-5 {transform: translate3d(912px, 345px, 0px);}
    .story-4 {transform: translate3d(211px, 310px, 0px);}
    .dungeon-2 {transform: translate3d(256px, 268px, 0px);}
    .soulevent-6 {transform: translate3d(980px, 154px, 0px);}
    .town-1 {transform: translate3d(363px, 160px, 0px);}
    .town-2 {transform: translate3d(839px, 196px, 0px);}
    .tablet-1 {transform: translate3d(343px, 231px, 0px);}
    .tablet-2 {transform: translate3d(313px, 205px, 0px);} 
    .tablet-3 {transform: translate3d(657px, 206px, 0px);}
    .tablet-4 {transform: translate3d(166px, 295px, 0px);}
    .tablet-5 {transform: translate3d(432px, 255px, 0px);}

    .soul-1 {transform: translate3d(462px, 124px, 0px);}
    .soul-2 {transform: translate3d(776px, 369px, 0px);}
    .soul-3 {transform: translate3d(669px, 77px, 0px);}
    .soul-4 {transform: translate3d(606px, 203px, 0px);}
    .soul-5 {transform: translate3d(350px, 75px, 0px);}
    .soul-6 {transform: translate3d(285px, 309px, 0px);}
    .soul-7 {transform: translate3d(235px, 400px, 0px);}
    .soul-8 {transform: translate3d(685px, 286px, 0px);}
    .soul-9 {transform: translate3d(792px, 155px, 0px);}
    .soul-10 {transform: translate3d(831px, 54px, 0px);}
    .soul-11 {transform: translate3d(991px, 403px, 0px);}
    .soul-12 {transform: translate3d(1031px, 459px, 0px);}
    .soul-13 {transform: translate3d(404px, 283px, 0px);}
    .soul-14 {transform: translate3d(502px, 315px, 0px);}
}

.pragma-1 {
    background-image: url(@/assets/maps/Pragma_1.jpg);
    height: 583px !important;
    .icon-dungeon {width: 25px;}
    .icon-soul {width: 19px;}
    .icon-soul-event {width: 65px;}
    .icon-story-event {width: 57px;}
    .icon-tablet {width: 38px;}
    .icon-pragma-town {width: 39px;}
    
    .dungeon-1 {transform: translate3d(199px, 137px, 0px);}
    .story-1 {transform: translate3d(86px, 313px, 0px);}
    .soulevent-1 {transform: translate3d(357px, 305px, 0px);}
    .story-2 {transform: translate3d(634px, 298px, 0px);}
    .soulevent-2 {transform: translate3d(524px, 108px, 0px);}
    .story-3 {transform: translate3d(814px, 237px, 0px);}
    .soulevent-3 {transform: translate3d(991px, 252px, 0px);}
    .dungeon-2 {transform: translate3d(899px, 173px, 0px);}
    .town-1 {transform: translate3d(261px, 330px, 0px);}
    .town-2 {transform: translate3d(759px, 172px, 0px);}
    .tablet-1 {transform: translate3d(105px, 338px, 0px);}
    .tablet-2 {transform: translate3d(630px, 268px, 0px);} 
    .tablet-3 {transform: translate3d(574px, 143px, 0px);}
    .tablet-4 {transform: translate3d(835px, 207px, 0px);}
    .tablet-5 {transform: translate3d(675px, 6px, 0px);}

    .soul-1 {transform: translate3d(151px, 41px, 0px);}
    .soul-2 {transform: translate3d(327px, 155px, 0px);}
    .soul-3 {transform: translate3d(196px, 214px, 0px);}
    .soul-4 {transform: translate3d(420px, 441px, 0px);}
    .soul-5 {transform: translate3d(454px, 191px, 0px);}
    .soul-6 {transform: translate3d(686px, 52px, 0px);}
    .soul-7 {transform: translate3d(1047px, 275px, 0px);}
    .soul-8 {transform: translate3d(418px, 226px, 0px);}
    .soul-9 {transform: translate3d(307px, 468px, 0px);}
    .soul-10 {transform: translate3d(432px, 140px, 0px);}
    .soul-11 {transform: translate3d(880px, 121px, 0px);}
    .soul-12 {transform: translate3d(789px, 241px, 0px);}
    .soul-13 {transform: translate3d(596px, 358px, 0px);}
    .soul-14 {transform: translate3d(401px, 35px, 0px);}
}

.pragma-2 {
    background-image: url(@/assets/maps/Pragma_2.jpg);
    height: 938px !important;
    .icon-dungeon {width: 25px;}
    .icon-soul {width: 19px;}
    .icon-soul-event {width: 65px;}
    .icon-story-event {width: 57px;}
    .icon-tablet {width: 38px;}
    .icon-pragma-town {width: 46px;}
    
    .dungeon-1 {transform: translate3d(926px, 385px, 0px);}
    .soulevent-1 {transform: translate3d(946px, 155px, 0px);}
    .soulevent-2 {transform: translate3d(931px, 608px, 0px);}
    .soulevent-3 {transform: translate3d(576px, 233px, 0px);}
    .soulevent-4 {transform: translate3d(534px, 123px, 0px);}
    .story-1 {transform: translate3d(345px, 203px, 0px);}
    .soulevent-5 {transform: translate3d(737px, 3px, 0px);}
    .soulevent-6 {transform: translate3d(700px, 560px, 0px);}
    .soulevent-7 {transform: translate3d(109px, 817px, 0px);}
    .story-2 {transform: translate3d(342px, 543px, 0px);}
    .story-3 {transform: translate3d(362px, 506px, 0px);}
    .dungeon-2 {transform: translate3d(411px, 455px, 0px);}
    .town-1 {transform: translate3d(701px, 351px, 0px);}
    .town-2 {transform: translate3d(255px, 606px, 0px);}
    .tablet-1 {transform: translate3d(297px, 177px, 0px);}
    .tablet-2 {transform: translate3d(374px, 462px, 0px);} 
    .tablet-3 {transform: translate3d(627px, 396px, 0px);}
    .dungeon-3 {transform: translate3d(117px, 621px, 0px);}

    .soul-1 {transform: translate3d(975px, 534px, 0px);}
    .soul-2 {transform: translate3d(700px, 626px, 0px);}
    .soul-3 {transform: translate3d(429px, 193px, 0px);}
    .soul-4 {transform: translate3d(1011px, 364px, 0px);}
    .soul-5 {transform: translate3d(677px, 454px, 0px);}
    .soul-6 {transform: translate3d(780px, 284px, 0px);}
    .soul-7 {transform: translate3d(554px, 342px, 0px);}
    .soul-8 {transform: translate3d(745px, 52px, 0px);}
    .soul-9 {transform: translate3d(325px, 583px, 0px);}
    .soul-10 {transform: translate3d(443px, 810px, 0px);}
    .soul-11 {transform: translate3d(291px, 881px, 0px);}
    .soul-12 {transform: translate3d(72px, 699px, 0px);}
    .soul-13 {transform: translate3d(675px, 537px, 0px);}
    .soul-14 {transform: translate3d(248px, 306px, 0px);}
}

.pragma-3 {
    background-image: url(@/assets/maps/Pragma_3.jpg);
    height: 1093px !important;
    .icon-dungeon {width: 25px;}
    .icon-soul {width: 19px;}
    .icon-soul-event {width: 65px;}
    .icon-story-event {width: 57px;}
    .icon-tablet {width: 38px;}
    .icon-pragma-town {width: 46px;}
    
    .dungeon-1 {transform: translate3d(624px, 973px, 0px);}
    .soulevent-1 {transform: translate3d(475px, 804px, 0px);}
    .soulevent-2 {transform: translate3d(720px, 773px, 0px);}
    .soulevent-3 {transform: translate3d(991px, 547px, 0px);}
    .story-1 {transform: translate3d(864px, 581px, 0px);}
    .soulevent-4 {transform: translate3d(653px, 488px, 0px);}
    .soulevent-5 {transform: translate3d(727px, 196px, 0px);}
    .story-2 {transform: translate3d(632px, 355px, 0px);}
    .story-3 {transform: translate3d(370px, 435px, 0px);}
    .soulevent-6 {transform: translate3d(53px, 598px, 0px);}
    .soulevent-7 {transform: translate3d(441px, 208px, 0px);}
    .dungeon-2 {transform: translate3d(531px, 219px, 0px);}
    .soulevent-8 {transform: translate3d(629px, 16px, 0px);}
    .town-1 {transform: translate3d(701px, 665px, 0px);}
    .town-2 {transform: translate3d(333px, 325px, 0px);}
    .tablet-1 {transform: translate3d(735px, 563px, 0px);}
    .tablet-2 {transform: translate3d(283px, 449px, 0px);} 
    .tablet-3 {transform: translate3d(659px, 603px, 0px);}

    .soul-1 {transform: translate3d(706px, 981px, 0px);}
    .soul-2 {transform: translate3d(398px, 791px, 0px);}
    .soul-3 {transform: translate3d(782px, 781px, 0px);}
    .soul-4 {transform: translate3d(819px, 530px, 0px);}
    .soul-5 {transform: translate3d(1016px, 658px, 0px);}
    .soul-6 {transform: translate3d(931px, 688px, 0px);}
    .soul-7 {transform: translate3d(248px, 600px, 0px);}
    .soul-8 {transform: translate3d(515px, 633px, 0px);}
    .soul-9 {transform: translate3d(102px, 497px, 0px);}
    .soul-10 {transform: translate3d(689px, 130px, 0px);}
    .soul-11 {transform: translate3d(582px, 702px, 0px);}
    .soul-12 {transform: translate3d(538px, 319px, 0px);}
    .soul-13 {transform: translate3d(265px, 380px, 0px);}
    .soul-14 {transform: translate3d(44px, 254px, 0px);}
    .soul-15 {transform: translate3d(681px, 61px, 0px);}
}

.ida-1 {
    background-image: url(@/assets/maps/Ida_1.jpg);
    height: 756px !important;
    .icon-dungeon {width: 21px;}
    .icon-soul {width: 19px;}
    .icon-soul-event {width: 65px;}
    .icon-story-event {width: 57px;}
    .icon-tablet {width: 38px;}
    .icon-ida-town {width: 46px;}
    
    .dungeon-1 {transform: translate3d(798px, 564px, 0px);}
    .soulevent-1 {transform: translate3d(740px, 613px, 0px);}
    .soulevent-2 {transform: translate3d(836px, 656px, 0px);}
    .soulevent-3 {transform: translate3d(743px, 678px, 0px);}
    .soulevent-4 {transform: translate3d(629px, 524px, 0px);}
    .story-1 {transform: translate3d(618px, 557px, 0px);}
    .story-2 {transform: translate3d(348px, 504px, 0px);}
    .story-3 {transform: translate3d(286px, 360px, 0px);}
    .story-4 {transform: translate3d(482px, 390px, 0px);}
    .town-1 {transform: translate3d(657px, 608px, 0px);}
    .town-2 {transform: translate3d(295px, 275px, 0px);}
    .tablet-1 {transform: translate3d(554px, 583px, 0px);}
    .tablet-2 {transform: translate3d(304px, 486px, 0px);} 
    .tablet-3 {transform: translate3d(279px, 334px, 0px);}
    .tablet-4 {transform: translate3d(300px, 214px, 0px);}
    .dungeon-2 {transform: translate3d(401px, 272px, 0px);}

    .soul-1 {transform: translate3d(802px, 660px, 0px);}
    .soul-2 {transform: translate3d(477px, 585px, 0px);}
    .soul-3 {transform: translate3d(368px, 652px, 0px);}
    .soul-4 {transform: translate3d(146px, 391px, 0px);}
    .soul-5 {transform: translate3d(44px, 517px, 0px);}
    .soul-6 {transform: translate3d(33px, 209px, 0px);}
    .soul-7 {transform: translate3d(146px, 107px, 0px);}
    .soul-8 {transform: translate3d(723px, 383px, 0px);}
    .soul-9 {transform: translate3d(998px, 503px, 0px);}
    .soul-10 {transform: translate3d(1043px, 197px, 0px);}
    .soul-11 {transform: translate3d(779px, 308px, 0px);}
    .soul-12 {transform: translate3d(115px, 687px, 0px);}
}

.ida-1 {
    background-image: url(@/assets/maps/Ida_1.jpg);
    height: 756px !important;
    .icon-dungeon {width: 21px;}
    .icon-soul {width: 19px;}
    .icon-soul-event {width: 65px;}
    .icon-story-event {width: 57px;}
    .icon-tablet {width: 38px;}
    .icon-ida-town {width: 46px;}
    
    .dungeon-1 {transform: translate3d(798px, 564px, 0px);}
    .soulevent-1 {transform: translate3d(740px, 613px, 0px);}
    .soulevent-2 {transform: translate3d(836px, 656px, 0px);}
    .soulevent-3 {transform: translate3d(743px, 678px, 0px);}
    .soulevent-4 {transform: translate3d(629px, 524px, 0px);}
    .story-1 {transform: translate3d(618px, 557px, 0px);}
    .story-2 {transform: translate3d(348px, 504px, 0px);}
    .story-3 {transform: translate3d(286px, 360px, 0px);}
    .story-4 {transform: translate3d(482px, 390px, 0px);}
    .town-1 {transform: translate3d(657px, 608px, 0px);}
    .town-2 {transform: translate3d(295px, 275px, 0px);}
    .tablet-1 {transform: translate3d(554px, 583px, 0px);}
    .tablet-2 {transform: translate3d(304px, 486px, 0px);} 
    .tablet-3 {transform: translate3d(279px, 334px, 0px);}
    .tablet-4 {transform: translate3d(300px, 214px, 0px);}
    .dungeon-2 {transform: translate3d(401px, 272px, 0px);}

    .soul-1 {transform: translate3d(802px, 660px, 0px);}
    .soul-2 {transform: translate3d(477px, 585px, 0px);}
    .soul-3 {transform: translate3d(368px, 652px, 0px);}
    .soul-4 {transform: translate3d(146px, 391px, 0px);}
    .soul-5 {transform: translate3d(44px, 517px, 0px);}
    .soul-6 {transform: translate3d(33px, 209px, 0px);}
    .soul-7 {transform: translate3d(146px, 107px, 0px);}
    .soul-8 {transform: translate3d(723px, 383px, 0px);}
    .soul-9 {transform: translate3d(998px, 503px, 0px);}
    .soul-10 {transform: translate3d(1043px, 197px, 0px);}
    .soul-11 {transform: translate3d(779px, 308px, 0px);}
    .soul-12 {transform: translate3d(115px, 687px, 0px);}
}