.zeine1 {

    .story1 {
        transform: translate3d(1051px, 647px, 0px);
    }

    .story2 {
        transform: translate3d(1077px, 599px, 0px);
    }

    .story3 {
        transform: translate3d(684px, 541px, 0px);
    }

    .story4 {
        transform: translate3d(297px, 175px, 0px);
    }

    .town1 {
        transform: translate3d(908px, 473px, 0px);
    }

    .town2 {
        transform: translate3d(282px, 283px, 0px);
    }

    .tablet1 {
        transform: translate3d(690px, 115px, 0px);
    }

    .tablet2 {
        transform: translate3d(1153px, 560px, 0px);
    }

    .tablet3 {
        transform: translate3d(646px, 497px, 0px);
    }

    .tablet4 {
        transform: translate3d(759px, 460px, 0px);
    }

    .tablet5 {
        transform: translate3d(837px, 472px, 0px);
    }

    .dungeon1 {
        transform: translate3d(757px, 267px, 0px);
    }

    .dungeon2 {
        transform: translate3d(961px, 330px, 0px);
    }
}