.zeine1 {

    .story1 {
        transform: translate3d(1055px, 669px, 0px);
    }

    .story2 {
        transform: translate3d(1079px, 608px, 0px);
    }

    .story3 {
        transform: translate3d(684px, 549px, 0px);
    }

    .story4 {
        transform: translate3d(297px, 184px, 0px);
    }
}