.zeine1 {

    .story-1 {
        transform: translate3d(1051px, 647px, 0px);
    }

    .story-2 {
        transform: translate3d(1077px, 599px, 0px);
    }

    .story-3 {
        transform: translate3d(684px, 541px, 0px);
    }

    .story-4 {
        transform: translate3d(297px, 175px, 0px);
    }

    .soulevent-1 {
        transform: translate3d(511px, 381px, 0px);
    }

    .town-1 {
        transform: translate3d(908px, 473px, 0px);
    }

    .town-2 {
        transform: translate3d(282px, 283px, 0px);
    }

    .tablet-1 {
        transform: translate3d(690px, 115px, 0px);
    }

    .tablet-2 {
        transform: translate3d(1153px, 560px, 0px);
    }

    .tablet-3 {
        transform: translate3d(646px, 497px, 0px);
    }

    .tablet-4 {
        transform: translate3d(759px, 460px, 0px);
    }

    .tablet-5 {
        transform: translate3d(837px, 472px, 0px);
    }

    .dungeon-1 {
        transform: translate3d(757px, 267px, 0px);
    }

    .dungeon-2 {
        transform: translate3d(961px, 330px, 0px);
    }

    .soul-1 {
        transform: translate3d(971px, 704px, 0px);
    }

    .soul-2 {
        transform: translate3d(1134px, 525px, 0px)
    }

    .soul-3 {
        transform: translate3d(567px, 562px, 0px);
    }

    .soul-4 {
        transform: translate3d(762px, 600px, 0px);
    }

    .soul-5 {
        transform: translate3d(393px, 654px, 0px)
    }

    .soul-6 {
        transform: translate3d(440px, 434px, 0px);
    }

    .soul-7 {
        transform: translate3d(60px, 240px, 0px);
    }

    .soul-8 {
        transform: translate3d(392px, 107px, 0px);
    }

    .soul-9 {
        transform: translate3d(881px, 301px, 0px);
    }

    .soul-10 {
        transform: translate3d(606px, 118px, 0px);
    }
}