@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,300;0,400;1,300&display=swap');

@mixin sm {
    @media (max-width: #{$screen-sm-min}) {
        @content;
    }
}

@mixin md {
    @media (max-width: #{$screen-md-min}) {
        @content;
    }
}

@mixin lg {
    @media (max-width: #{$screen-lg-min}) {
        @content;
    }
}

@mixin xl {
    @media (max-width: #{$screen-xl-min}) {
        @content;
    }
}














*,
a {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    overflow: hidden;
    font-size: 14px;
}

body {
    background: $background url(@/assets/crossedge_bg.jpg) center/cover no-repeat;
    width: 100%;
    height: 100vh;
    min-height: 850px;
    overflow: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
    font-family: 'Kanit', sans-serif;
}

.btn-sml {
    width: 72px;
    height: 70px;
    font-size: 50px;
    text-align: center;
    border-radius: 40px;
    font-weight: 800;
    font-family: 'Courier New', Courier, monospace;
    border: none;
    box-shadow: 0 0 3px 2px #000;
    transform: scale(0.4);
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 45px;
    z-index: 101;
    transition: all .47s ease;

    &:hover {
        background: #7c7c7c;
    }

    &.opened {
        left: 295px;
        transform: rotate(180deg) scale(0.4);
    }
}




/************************************************************
    VIEWS/home_page.vue
************************************************************/

.landing-select {
    margin: 40px auto 0;
    border-radius: 7px;
    background-color: $background;
    width: 80%;
    box-shadow: 0px 0px 12px 10px rgba(0, 0, 0, 0.116);
    padding: 1.2em;

    .site-banner {
        margin: 15px auto 40px;
        width: 320px;
    }

    .contents {
        text-align: center;
        font-size: 1.3rem;

        h2 {
            text-align: center;
            color: #fff;
            font-size: 2.5rem;
            font-style: italic;
        }
    }

}



/************************************************************
    COMPONENTS/parts/home_page.vue
************************************************************/

.ce-icon {
    transition: all .23s ease;
    cursor: pointer;
    position: absolute;

    &:hover {
        filter: drop-shadow(0px 0px 5px rgb(244, 255, 194));
    }

    rect,
    circle,
    polygon,
    path {
        fill: none;
    }
}






/************************************************************
    VIEWS/true_end.vue
************************************************************/

.true_end_guide {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px auto;
    color: #fff;
    width: 100%;
    max-width: 1200px;

    .title {
        display: flex;
        align-items: center;

        h2 {
            margin-left: 20px;
            font-size: 5.0rem;
            color: #fff;
        }
    }
}





/************************************************************
    COMPONENTS/sidebar.vue
************************************************************/

.sidebar {
    background: linear-gradient(125deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, #1000ff 100%);
    color: #7c7c7c;
    height: 100vh;
    box-shadow: 0px -11px 31px -27px #000;
    transition: all .47s ease;
    width: 330px;
    box-shadow: 2px 0 10px 3px rgba(0, 0, 0, 0.54);
    position: absolute;
    z-index: 100;
    top: 0;

    &.compact {
        width: 80px;

        .container {
            width: 330px;
        }
    }

    .container {
        transition: all .35s ease;
        left: 0;
        padding: 20px 5px 20px 2rem;
    }

    .container-mobile {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
    }

    .header {
        display: flex;
        justify-content: space-between;

        &__title {
            display: inline-flex;
        }

        &__logo {
            width: 40px;
        }

        &__site {
            color: #fff;
            font-size: 2rem;
            margin-left: 20px;
        }

        &__button {
            width: 45px;
            padding-top: 7px;
        }

        &__menu {
            cursor: pointer;
            transition: all .23s ease;
            position: absolute;
            width: 40px;
            left: 250px;
            z-index: 999;

            rect {
                fill: #fff;
            }
        }
    }

    .wrapper-scroll {
        height: calc(100vh - 80px);
        overflow-y: scroll;
        padding-right: 10px;

        &::-webkit-scrollbar {
            background-color: transparent;
            width: 10px;
        }

        &::-webkit-scrollbar-thumb {
            border-radius: 100px;
            background: #1d44f0;
            border: 1px solid rgba(255, 255, 255, 0.32);
        }
    }

    .subheader h2 {
        color: #fff;
        text-align: center;
        font-weight: 300;
        font-size: 3rem;
        margin-top: 20px;
    }

    hr {
        margin: 10px 0 15px;
    }

    .tablecontents {
        font-size: 1.5rem;

        h3 {
            text-align: center;
            margin-bottom: 20px;
        }

        .tbc-set {
            ul {
                margin-left: 20px;
                margin-bottom: 20px;
            }

            li {
                cursor: pointer;
                color: #fff;
            }
        }
    }

}

.overlay {
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0px;
    top: 0;
    z-index: 95;
    background-color: rgba(2, 0, 36, 0.4);
}


/************************************************************
    map.vue
************************************************************/

.map_room {


    &__interact {
        margin-left: 340px;
        display: grid;
        grid-template-columns: auto 330px;
        max-width: 1600px;

        @include xl {
            margin-left: 90px;
        }
    }

    &__display {
        overflow-y: scroll;
        padding-top: 20px;

        &::-webkit-scrollbar {
            background-color: transparent;
        }
    }

    &__header {
        padding: 0 10px;
        display: flex;
        justify-content: space-between;

        &>div {
            display: inline-flex;
            align-items: baseline;
        }

        .tab {
            padding: 10px 10px 5px;
            background: rgb(0, 105, 100);
            background: linear-gradient(349deg, rgba(0, 105, 100, 1) 0%, rgba(11, 6, 38, 1) 45%, rgba(5, 33, 102, 1) 100%);
            font-size: 1.5rem;
            border-radius: 15px;
            margin-right: 5px;
            line-height: 1;
            height: 50px;
            color: rgb(131, 131, 131);
            cursor: pointer;
            border: none;
            transition: all .23s ease;

            &:hover {
                box-shadow: 0px 0px 7px 3px rgb(95, 127, 6);
            }


            &.active {
                color: #fff;
            }
        }

        h2 {
            color: #fff;
            font-size: 3rem;
            margin: 0 60px 0 20px;

            &::first-letter {
                text-transform: capitalize
            }
        }

        p,
        span {
            color: #fff;
            margin-right: 10px;
            font-size: 1.2rem;

            &::first-letter {
                text-transform: capitalize
            }
        }
    }






















}

















.map_room {
    min-height: 100vh;
    transition: all .45s ease;

    &.active {
        grid-template-columns: auto 330px;
        margin-left: 115px;

        .map_room__map {
            max-width: none;
        }
    }






    &__map {
        height: 100%;
        max-width: 1200px;
        background-repeat: no-repeat;
        background-size: 100% auto;
        border-radius: 2px;
    }

}


/************************************************************
    MapDetails.vue
************************************************************/

.map_details {
    right: 0;
    width: 320px;
    min-height: 100vh;
    top: 0;
    color: #fff;
    padding: 2rem;
    overflow-y: scroll;

    &::-webkit-scrollbar {
        background-color: transparent;
        width: 20px;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 100px;
        background: #8070d4;
        border: 6px solid rgb(12, 3, 53);
        cursor: pointer;
    }

    h3 {
        font-size: 2.5rem;
        text-align: center;
        line-height: 1;
    }

    hr {
        opacity: 0.7;
        margin: 15px 5px;
    }

    .checkbox {
        width: 30px;
        height: 30px;
        border: 1px solid #fff;
        border-radius: 5px;
        margin-right: 10px;
        cursor: pointer;
        background-color: transparent;

        &.complete {
            background-color: #fff
        }
    }

    .mark_completion {
        font-size: 1.4rem;
        text-align: center;
        display: grid;
        grid-template-columns: 30px auto;
        align-items: center;
        margin: 10px 0;
    }

    .title {
        text-align: center;
        margin: 10px 0;
        color: #fff;
    }

    .sub {
        font-style: italic;
    }

    .te_action {
        border-radius: 5px;
        padding: 0.4rem 0.8rem;
        font-size: 1.3rem;
        margin-bottom: 20px;
        background-color: #a0074e
    }

    .event_recruit {
        @extend .te_action;
        background-color: #05765b
    }

    .event_reward {
        @extend .te_action;
        background-color: #05765b
    }

    .event_tablet {
        @extend .te_action;
        background-color: #1d0892
    }

    .event_tablet_p {
        @extend .te_action;
        background-color: #1d0892
    }

    .soul_rewards {
        @extend .te_action;
        background-color: #0588c0
    }

    .town {
        @extend .te_action;
        background-color: #61109b
    }

    .event_battles {
        &__forced {
            @extend .te_action;
            margin: 10px 0 0;
            border-radius: 5px 5px 0 0px;
        }
    }


















    &__change {
        height: 100%;
    }

    &__display {
        overflow-y: scroll;
        max-height: 500px;

        &::-webkit-scrollbar {
            background-color: transparent;
            width: 20px;
        }

        &::-webkit-scrollbar-thumb {
            border-radius: 100px;
            background: #8070d4;
            border: 6px solid rgb(12, 3, 53);
            cursor: pointer;
        }
    }






}













.dungeon {
    text-align: center;
    font-size: 1.5rem;
    cursor: pointer;

    &:hover {
        text-decoration: underline;
    }
}