@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,300;0,400;1,300&display=swap');

*,
a {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    overflow: hidden;
    font-size: 14px;
}

body {
    background: $background url(@/assets/crossedge_bg.jpg) center/cover no-repeat;
    width: 100%;
    height: 100vh;
    min-height: 850px;
    overflow: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
    font-family: 'Kanit', sans-serif;
}




/************************************************************
    VIEWS/home_page.vue
************************************************************/

.landing-select {
    margin: 40px auto 0;
    border-radius: 7px;
    background-color: $background;
    width: 80%;
    box-shadow: 0px 0px 12px 10px rgba(0, 0, 0, 0.116);
    padding: 1.2em;

    .site-banner {
        margin: 15px auto 40px;
        width: 320px;
    }

    .contents {
        text-align: center;
        font-size: 1.3rem;

        h2 {
            text-align: center;
            color: #fff;
            font-size: 2.5rem;
            font-style: italic;
        }
    }

}



/************************************************************
    COMPONENTS/parts/home_page.vue
************************************************************/

.ce-icon {
    transition: all .23s ease;
    cursor: pointer;
    position: absolute;

    &:hover {
        filter: drop-shadow(0px 0px 5px rgb(244, 255, 194));
    }

    rect,
    circle,
    polygon,
    path {
        fill: none;
    }
}






/************************************************************
    VIEWS/true_end.vue
************************************************************/

.true_end_guide {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px auto;
    color: #fff;
    width: 100%;
    max-width: 1200px;

    .title {
        display: flex;
        align-items: center;

        h2 {
            margin-left: 20px;
            font-size: 5.0rem;
            color: #fff;
        }
    }
}









/************************************************************
    COMPONENTS/sidebar.vue
************************************************************/

.sidebar {
    width: 340px;
    background-color: $sidebar_bg;
    color: #7c7c7c;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 999;
    box-shadow: 0px -11px 31px -27px #000;
    transition: all .47s ease;
    padding: 20px 2rem;
    overflow-y: scroll;

    &::-webkit-scrollbar {
        background-color: transparent;
        width: 20px;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 100px;
        background: #8070d4;
        border: 6px solid $sidebar_bg;
    }

    .header {
        display: flex;

        .logo {
            width: 40px;
        }

        .site {
            color: #fff;
            font-size: 2rem;
            margin-left: 20px;
        }
    }

    .subheader h2 {
        color: #fff;
        text-align: center;
        font-weight: 300;
        font-size: 3rem;
        margin-top: 20px;
    }

    hr {
        margin: 10px 0 15px;
    }

    .tablecontents {
        font-size: 1.5rem;

        h3 {
            text-align: center;
            margin-bottom: 20px;
        }

        .tbc-set {
            ul {
                margin-left: 20px;
                margin-bottom: 20px;
            }

            li {
                cursor: pointer;
                color: #fff;
            }
        }
    }
}








/************************************************************
    map.vue
************************************************************/

.world_map {
    // max-width: 1250px;
    width: 65vw;
    height: 100vh;
    position: fixed;
    right: 0px;
    top: 0px;
    bottom: 0px;
    left: 340px;

    .icn {
        cursor: pointer;
        position: absolute;
    }

    .container {
        min-width: 100%;
        min-height: 100%;
        background-repeat: no-repeat;
        background-position: center;
    }
}




/************************************************************
    MapDetails.vue
************************************************************/

.map_details {
    position: absolute;
    right: 0;
    width: 328px;
    height: 100vh;
    top: 0;
    background: rgb(12, 3, 53);
    color: #fff;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__display {
        overflow-y: scroll;
        max-height: 500px;

        &::-webkit-scrollbar {
            background-color: transparent;
            width: 20px;
        }

        &::-webkit-scrollbar-thumb {
            border-radius: 100px;
            background: #8070d4;
            border: 6px solid rgb(12, 3, 53);
            cursor: pointer;
        }
    }

    h3 {
        font-size: 2.5rem;
        text-align: center;
    }

    hr {
        opacity: 0.7;
        margin: 10px 5px;
    }

    .target {
        font-size: 1.4rem;
        text-align: center;
        display: grid;
        grid-template-columns: 30px auto;
        align-items: center;
        margin: 10px 0;
    }

    .rewards {
        font-size: 1.3rem;
        margin-top: 20px;
    }
}

.detail_change {
    height: 100%;
    margin-bottom: 10px;
}

.map_checklist {
    max-height: 300px;
    height: 100%;
    overflow-y: scroll;
    width: 100%;
    border: 1px solid #fff;
    padding: 0.5em 1em;

    &::-webkit-scrollbar {
        background-color: transparent;
        width: 20px;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 100px;
        background: #8070d4;
        border: 6px solid rgb(12, 3, 53);
        cursor: pointer;
    }

    h4 {
        font-size: 1.3rem;
    }
}

.battle__forced {
    font-size: 1.3rem;
    margin-bottom: 20px;


}

.battle__title {
    text-align: center;
    font-size: 1.3rem;
    margin-top: 20px;
}

.true_end_path {
    font-size: 1.3rem;
}

.target_complete {
    width: 30px;
    height: 30px;
    border: 1px solid #fff;
    border-radius: 5px;
    margin-right: 10px;
    cursor: pointer;
    background-color: transparent;

    &.complete {
        background-color: #fff
    }
}