@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,300;0,400;1,300&display=swap');

@mixin sm {
    @media (max-width: #{$screen-sm-min}) {
        @content;
    }
}

@mixin md {
    @media (max-width: #{$screen-md-min}) {
        @content;
    }
}

@mixin lg {
    @media (max-width: #{$screen-lg-min}) {
        @content;
    }
}

@mixin xl {
    @media (max-width: #{$screen-xl-min}) {
        @content;
    }
}

@keyframes glowBox {
    0% {box-shadow: 0px 0px 5px 3px rgb(211, 104, 104);}
    50% {box-shadow: 0px 0px 5px 8px rgb(221, 35, 35);}
    100% {box-shadow: 0px 0px 5px 3px rgb(211, 104, 104);}
}

@keyframes glowBoxIcon {
    0% {filter: drop-shadow(0px 0px 2px rgb(19, 176, 197));}
    50% {filter: drop-shadow(0px 0px 12px rgb(183, 200, 211));}
    100% {filter: drop-shadow(0px 0px 2px rgba(192, 215, 76, 0));}
}

@keyframes glowBoxSoul {
    0% {filter: drop-shadow(0px 0px 5px rgb(99, 186, 203));}
    50% {filter: drop-shadow(0px 0px 7px rgb(135, 76, 244));}
    100% {filter: drop-shadow(0px 0px 5px rgb(99, 186, 203));}
}

@keyframes glowSelected {
    0% {filter: brightness(1);}
    50% {filter: brightness(1.5);}
    100% {filter: brightness(1);}
}

@keyframes generateButtonActive {
    0% {
        background-color:#111f5b;
        box-shadow: 0px 0px 2px 3px #1d44f083;
    }
    50% {
        background-color:#8070d4;
        box-shadow: 0px 0px 4px 7px #8070d4;
    }
    100% {
        background-color:#111f5b;
        box-shadow: 0px 0px 2px 3px #1d44f083;
    }
}

.ce-shadow2 {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, 
                rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, 
                rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.ce-shadow {
    box-shadow: rgba(49, 103, 139, 0.4) 0 2px 4px,
                rgba(67, 124, 167, 0.3) 0px 7px 13px -3px,
                rgba(8, 60, 108, 0.2) 0px -3px 0px inset;
}

.ce-header-bg {
    background: rgb(18,107,103);
    background: linear-gradient(171deg, rgba(18,107,103,1) 0%, rgba(5,66,102,1) 100%);
}

.ce-body-bg {
    background: rgb(4,68,29);
    background: linear-gradient(171deg, rgba(4,68,29,1) 0%, rgba(5,28,65,1) 100%);
}

.ce-section-bg {
    background: rgb(224,224,224);
    background: linear-gradient(171deg, rgba(224,224,224,1) 0%, rgba(121,121,121,1) 55%, rgba(47,47,47,1) 100%);
}








*,
a {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    overflow: hidden;
    font-size: 14px;
}

body {
    background: $background url(@/assets/crossedge_bg.jpg) center/cover no-repeat;
    width: 100%;
    height: 100vh;
    min-height: 850px;
    overflow-x: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
    font-family: 'Kanit', sans-serif;

    &::-webkit-scrollbar {
            background-color: transparent;
            width: 10px;
        }

        &::-webkit-scrollbar-thumb {
            border-radius: 100px;
            background: #1d44f0;
            border: 1px solid rgba(255, 255, 255, 0.32);
        }
}

.btn {
    padding: 0.3em 0.8em 0.4em;
    border-radius: 20px;
    font-size: 1.5rem;
    font-weight: bold;
    border: 1px solid #fff;
    background: transparent;
    color: #fff;
    transition: all .23s ease;
    cursor: pointer;
    &:hover {
        background: rgba(255,255,255,0.2)
    }
}

.btn-sml {
    width: 72px;
    height: 70px;
    font-size: 50px;
    text-align: center;
    border-radius: 40px;
    font-weight: 800;
    font-family: 'Courier New', Courier, monospace;
    border: none;
    box-shadow: 0 0 3px 2px #000;
    transform: scale(0.4);
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 45px;
    z-index: 101;
    transition: all .47s ease;

    &:hover {
        background: #7c7c7c;
    }

    &.opened {
        left: 295px;
        transform: rotate(180deg) scale(0.4);
    }
}

.icn {

    &.order {
        position: relative;
        z-index: 80;
    }

    &.order::after {
        content: attr(order);
        width: 16px;
        color: #000;
        height: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        line-height: 1;
        border-radius: 20px;
        text-align: center;
        background: #fff;
        position: absolute;
        opacity: 1;
    }

    &.storyevent::after {
        transform: translate(9px, 25px);
    }

    &.town.ziene::after {
        transform: translate(26px, 25px);
    }

    &.town.wilkiet::after {
        transform: translate(33px, 25px);
    }

    &.dungeon::after {
        transform: translate(15px, 17px);
    }

    &.soulevent::after {
        transform: translate(13px, 27px);
    }
}


.content {
    
    max-width: 2200px;
    margin: 1.6rem 2rem 1.6rem calc(330px + 2rem);

    &.size-default {
        display: block;
    }

    .size-map {
        display: grid;
        grid-template-columns: auto 330px;
    }

    @include xl {
        margin: 1.6rem 2rem 1.6rem calc(80px + 2rem);
    }
}

.ce-icon {
    transition: all .23s ease;
    cursor: pointer;
    position: absolute;

    &:hover {
        filter: drop-shadow(0px 0px 5px rgb(244, 255, 194));
    }

    rect,
    circle,
    polygon,
    path {
        fill: none;
    }
}

.icn.te svg {
    animation: glowBoxIcon 0.5s linear infinite;
}

.icn.ts svg {
    animation: glowBoxSoul 0.5s linear infinite;
}

.icn.selected .ce-icon {
    animation: glowSelected 0.5s linear infinite;
}

.null {
    text-decoration: line-through;
}

.homenull {
    filter: grayscale(1);
}

.currency {
    transform: scaleX(0.8);
    font-weight: 100;
    margin-left: 2px;
}


/************************************************************
    TITLES
************************************************************/

.titles {
    color: #fff;
    width: 100%;
    max-width: 1300px;
    background: $body-bg;
    @extend .ce-shadow;
    min-height: 80px;
    
    &_content {
        padding: 20px;
    }

    &_group {
        margin-bottom: 40px;
        &.final {
            margin-bottom: 20px;
        }
    }

    &_sub-header {
        font-size: 2.2rem;
        color: #fff;
        margin-bottom: 20px;

        h3 {margin-bottom: 5px;}

        p {
            font-size: 1.5rem;
            padding-left: 20px;
        }
    }

    &_list {
        display: grid;
        grid-template-columns: 50px 190px auto 160px 160px 160px 80px 40px 40px;
        font-size: 1.1rem;
        align-items: center;

        &-requir {
            padding-right: 20px;

            &.hasLink span {
                color: #697ee1;
                cursor: pointer;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }

}

/************************************************************
    APP (Root)
************************************************************/

.main-content {
    width: calc(100vw - $sidebarWidth-lg);
    margin-left: $sidebarWidth-lg;
    padding: 1rem 20px 2rem;
    transition: all .23s ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &.map_overview {
        flex-direction: initial;
        justify-content: initial;
    }

    &.mobile {
        width: calc(100vw - $sidebarWidth-sm);
        margin-left: $sidebarWidth-sm;
    }
}

/************************************************************
    HOME PAGE
************************************************************/

.landing {
    color: #fff;
    width: 100%;
    max-width: 1300px;
    display: grid;
    grid-template-columns: minmax(auto, 450px) minmax(auto, 450px);
    justify-content: space-around;
    row-gap: 40px;

    section {
        width: 100%;
        @extend .ce-body-bg;
        @extend .ce-shadow;
        border-radius: 10px;
        padding: 10px;
        cursor: pointer;
        &:hover {
            img {
                transform-origin: center;
                transform: scale(1.05);
            }
        }

        .section-img {
            width: 100%;
            height: 140px;
            overflow: hidden;
            border-radius: 2px;
            box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.4);
            img {
                transition: transform .23s ease;
                will-change: transform;
            }
        }

        h2 {
            text-align: right;
            font-size: 2.5rem;
        }
    }
}

/************************************************************
    VERSION HISTORY
************************************************************/

.version {
    color: #fff;
    width: 100%;
    max-width: 1300px;
    background: $body-bg;
    @extend .ce-shadow;
    min-height: 700px;

    &_content {
        width: 100%;
        padding: 20px;
        }

    &_sub-header {
        font-size: 1.5rem;
        margin-bottom: 40px;
        color: #ccc;

        h3 {
            font-size: 3rem;    
        }

        li {
            margin-bottom: 10px;
            margin-left: 20px;
        }

        hr {
            opacity: 0.1;
        }
    }

    &_description {
        margin-left: 40px;
        font-size: 1.8rem;
    }
}

/************************************************************
    MAP ROOM
************************************************************/

.maproom {
    color: #fff;
    width: 100%;
    max-width: 1300px;
    background: $body-bg;
    @extend .ce-shadow;
    min-height: 80px;

    &_contents {
        display: grid;
        grid-template-columns: minmax(auto, 450px) minmax(auto, 450px) minmax(auto, 450px);
        justify-content: space-around;
        row-gap: 40px;
        padding-bottom: 20px;
    }

    .mapblock {

        &-contain {
            width: 350px;
            height: 270px;
            overflow: hidden;
            margin: auto;
            cursor: pointer;
            border-radius: 3px;
            @extend .ce-shadow;

            &:hover {
                div {
                    transform: scale(1.2);
                }
            }
        }


        &-img {
            width: 350px;
            height: 270px;
            background-size: cover;
            background-repeat: no-repeat;
            transition: all .23s ease;
            will-change: transform;
        }


        h3 {
            padding: 2px 15px;
            font-size: 20px;
            text-align: center;
        }

        &.zeine1 .mapblock-img {
            background-image: url(@/assets/maps/Zeine_1.jpg);
            background-position: center;
        }
        &.zeine2 .mapblock-img {
            background-image: url(@/assets/maps/Zeine_2.jpg);
            background-position: 30% 50%;
        }
        &.zeine3 .mapblock-img {
            background-image: url(@/assets/maps/Zeine_3.jpg);
            background-position: 90% 50%;
        }
        &.wilkiet1 .mapblock-img {
            background-image: url(@/assets/maps/Wilkiet_1.jpg);
            background-position: 90% 50%;
        }
        &.wilkiet2 .mapblock-img {
            background-image: url(@/assets/maps/Wilkiet_2.jpg);
            background-position: 40% 50%;
        }
        &.wilkiet3 .mapblock-img {
            background-image: url(@/assets/maps/Wilkiet_3.jpg);
            background-position: 30% 50%;
        }
        &.brosste1 .mapblock-img {
            background-image: url(@/assets/maps/Brosste_1.jpg);
            background-position: 50% 0%;
        }
        &.brosste2 .mapblock-img {
            background-image: url(@/assets/maps/Brosste_2.jpg);
            background-position: 30% 0%;
        }
        &.brosste3 .mapblock-img {
            background-image: url(@/assets/maps/Brosste_3.jpg);
            background-position: 60% 50%;
        }
        &.pragma1 .mapblock-img {
            background-image: url(@/assets/maps/Pragma_1.jpg);
            background-position: center;
        }
        &.pragma2 .mapblock-img {
            background-image: url(@/assets/maps/Pragma_2.jpg);
            background-position: 100% 50%;
        }
        &.pragma3 .mapblock-img {
            background-image: url(@/assets/maps/Pragma_3.jpg);
            background-position: center;
        }
        &.ida1 .mapblock-img {
            background-image: url(@/assets/maps/Ida_1.jpg);
            background-position: center;
        }
        &.ida2 .mapblock-img {
            background-image: url(@/assets/maps/Ida_2.jpg);
            background-position: center;
        }
        
    }


}

/************************************************************
    DUNGEON MAP ROOM
************************************************************/

.dunMaproom {
    color: #fff;
    width: 100%;
    max-width: 1300px;
    background: $body-bg;
    @extend .ce-shadow;
    min-height: 80px;

    &_contents {
        display: grid;
        grid-template-columns: minmax(50%, 550px) minmax(50%, 550px);
        justify-content: space-around;
    }

    .mapblock {
        cursor: pointer;
        margin: 40px 20px 20px;
        transition: all .23s ease;

        &:hover {
            h3 {text-decoration: underline;}
            img {
                transform: scale(1.02);
            }
        }

        &-contain {
            overflow: hidden;
            margin: auto;
            border-radius: 3px;
            img {
                transition: transform .23s ease;
            }
        }

        h3 {
            padding: 2px 15px 0;
            font-size: 3rem;
            margin: 0;
            text-align: center;
            line-height: 1;
        }

        p {
            font-size: 1.5rem;
            text-align: center;
            margin-bottom: 10px;
        }
    }
}

/************************************************************
    MAP OVERVIEW
************************************************************/

.map-overview {
    width: calc(100% - 330px);

    &__display {
        overflow-x: hidden;
        overflow-y: scroll;
        min-height: 100vh;
        display: grid;
        grid-template-rows: 140px auto;
        justify-items: center;
        align-items: center;

         &::-webkit-scrollbar {
            background-color: transparent;
        }
    }

    .tab {
        padding: 10px 10px 5px;
        background: rgb(0, 105, 100);
        background: linear-gradient(349deg, rgba(0, 105, 100, 1) 0%, rgba(11, 6, 38, 1) 45%, rgba(5, 33, 102, 1) 100%);
        font-size: 1.5rem;
        border-radius: 15px;
        margin-right: 10px;
        line-height: 1;
        height: 50px;
        color: rgb(131, 131, 131);
        cursor: pointer;
        border: none;
        transition: all .23s ease;
        box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.624);

        &:hover {
            box-shadow: 0px 0px 7px 3px rgb(13, 102, 157);
        }

        &.active {
            color: #fff;
        }
    }

    &__header {
        padding: 10px 0;
        width: 100%;
        height: 80px;
        max-width: 1100px;
        background: linear-gradient(171deg, rgba(88,4,108,1) 5%, rgba(5,33,102,1) 73%, rgba(5,66,102,1) 100%);
        border-radius: 10px;
        box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.624);
        display: grid;
        grid-template-columns: 390px auto 415px;
        justify-items: center;
        align-items: center;
    }

    &__title {
        color: #fff;
        font-size: 3rem;
        padding-left: 20px;
        width: 100%;
        font-style: italic;
    }

    &__nextmap {
        color: #fff;
        margin-right: 10px;
        font-size: 1.2rem;
        text-align: center;
        height: 100%;
        width: 250px;

        p {
            font-size: 1.9rem;
            font-style: italic;
            cursor: pointer;
            color:rgb(19, 176, 197);
            text-decoration: underline;
            &:hover {
                color: #1d44f0;
            }
        }
    }

    &__map {
        width: 1100px !important;
        margin: 0 auto 40px;
        background-repeat: no-repeat;
        background-size: 100% auto;
        border-radius: 2px;
        @extend .ce-shadow;
        border: 1px solid #1db1f034;
        overflow: hidden;

        &::-webkit-scrollbar {
            background-color: transparent;
        }

    }

    .showDungeonMap {
        width: 100vw;
        height: 100vh;
        padding-left: $sidebarWidth-lg;
        position: fixed;
        top: 0;
        left: 0;
        z-index: -1;
        background: rgba(7, 2, 41, 0.82);
        cursor: pointer;
        opacity: 0;
        transition: opacity .3s ease;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            width: 90%;
            border: 6px solid #fff;
        }

        &.active {
            z-index: 96;
            opacity: 1;
        }
    }
}

/************************************************************
    DUNGEON MAP OVERVIEW
************************************************************/

.dungeonOver {
    color: #fff;
    width: 100%;
    max-width: 1300px;
    background: $body-bg;
    @extend .ce-shadow;

    .mapblock {
        cursor: pointer;
        margin: 0px 20px 20px;
        min-height: 505px;
        display: flex;

        &:hover {
            h3 {text-decoration: underline;}
        }

        &-contain {
            overflow: hidden;
            margin: auto;
            border-radius: 3px;
            img {
                transition: transform .23s ease;
            }
        }
    }
}

/************************************************************
    PLAYTHROUGH TIPS
************************************************************/

.playthrough {
    color: #fff;
    width: 100%;
    max-width: 1300px;
    background: $body-bg;
    @extend .ce-shadow;
    min-height: 80px;

    &_content {
        width: 100%;
        padding: 20px;
        }

    &_sub-header {
        font-size: 1.5rem;
        margin-bottom: 40px;

        h3 {
            width: 100%;
            font-size: 3rem;
            color: #fff;
        }

        ul {
            margin-left: 20px;
            font-size: 1.6rem;
        }

        li {
            margin-bottom: 10px;
            color: #ccc;
        }

        p {
            padding-left: 20px;
            font-style: italic;
        }
    }
}

/************************************************************
    BESTIARY LIST
************************************************************/

.bestiary {
    color: #fff;
    background: $body-bg;
    min-width: 1300px;
    @extend .ce-shadow;
    min-height: 80px;
    
    &_content {
        padding: 20px;
    }

    &_group {
        margin-bottom: 40px;
        &.final {
            margin-bottom: 20px;
        }
    }

    &_sub-header {
        font-size: 2.2rem;
        color: #fff;
        margin-bottom: 20px;

        h3 {margin-bottom: 5px;}
    }

    hr {
        margin: 10px 0;
    }

    &_list {
        display: grid;
        grid-template-columns: auto 120px 120px 160px 160px 160px 160px 160px 100px 100px;
        font-size: 1rem;
        align-items: center;
        cursor: pointer;

        &:nth-of-type(10n+10) {
            margin-bottom: 10px;
        }

        p:first-of-type {
            padding-left: 5px;
        }

        &.active {
            background-color: $bestiaryHov;
        }

        &.ableSel:hover {
                background-color: $bestiaryHov;
            }

        
    }

}

/************************************************************
    INVENTORY LIST
************************************************************/

.inventory {
    color: #c5c5c5;
    background: $body-bg;
    min-width: 1300px;
    @extend .ce-shadow;
    min-height: 80px;
    
    &_content {
        padding: 20px;
    }

    &_sub-header {
        display: inline-flex;
        justify-content: center;
        width: 100%;

        .btn {
            @extend .ce-shadow;
            max-width: 200px;
            text-align: center;
            margin: 0 10px;

            &.active {
                background-color: #697ee1;
            }

            &:hover {
                background-color: #697ee1;
            }
        }
    }

    &_filter {
        width: 100%;
        display: inline-flex;
        justify-content: center;
        margin-top: 40px;

        .btn {
            padding: 5px 7px;
            border-radius: 7px;
            width: 120px;
            text-align: center;
            margin: 0 5px;

            &.active {
                background-color: #111f5b;
            }
        }
    }

    &_body {
        margin-top: 40px;
        background-color: $sidebar-bg;
        border-radius: 3px;
        min-height: 700px;
        font-size: 1.2rem;
        padding: 20px;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;

        &.weapons_list {
            margin-top: 20px;
        }

        .synth_display img {
            margin: 0 5px;
        }
    }

    &_list {

        &.items .filter {
            display: grid;
            grid-template-columns: 40px 40px 250px 400px auto;

            img {margin-left: 10px}
        }

        .filter {
            display: grid;
            grid-template-columns: 30px 30px 160px 80px 80px 170px 170px 170px 170px auto;
        }

        p {
            height: 30px;
            line-height: 1;
            display: flex;
            align-items: center;
            

            &:first-of-type {
                padding-left: 5px;
            }
        }

        img {
            height: 80%;
            margin-right: 5px;
            user-select: none;
        }
    }

    &_header {
        font-size: 1.2rem;
        display: grid;
        grid-template-columns: 30px 30px 160px 80px 80px 170px 170px 170px 170px auto;

        p {
            line-height: 1;
        }
    }

    &_list {
        cursor: pointer;
        border-radius: 2px;

        &.active {
            opacity: 0.1;
            user-select: none;
        }

        &.active:hover {
            opacity: 0.1
        }
        
        &:hover {
            background-color: #111f5b;
            opacity: 1;
        }
    }

    .checkbox {
        transform: scale(1.5)
    }

    hr {
        margin: 10px 0;
    }

    .clear_buttons {
        margin-top: 20px;
        width: 100%;
        display: flex;
        justify-content: flex-end;
        .btn {
            font-size: 1.1rem;
            margin-left: 30px;
            margin-right: 10px;
        }
    }
}

/************************************************************
    SYNTHESIS
************************************************************/

.synth {
    color: #c5c5c5;
    background: $body-bg;
    min-width: 1300px;
    @extend .ce-shadow;
    min-height: 80px;
    
    &_content {
        padding: 20px;
    }

    &_filter {
        width: 100%;

        .group {
            margin-top: 10px;
            display: inline-flex;
            justify-content: center;
            width: 100%;
        }

        .btn {
            padding: 5px 7px;
            border-radius: 7px;
            width: 140px;
            text-align: center;
            margin: 0 5px;

            &.active {
                background-color: #111f5b;
            }
        }
    }

    &_body {
        margin-top: 40px;
        background-color: $sidebar-bg;
        border-radius: 3px;
        min-height: 700px;
        font-size: 1.2rem;
        padding: 20px;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;

        &.generated {
            font-size: 2rem;
        }
    }

    &_header {
        font-size: 1.2rem;
        border-bottom: 2px solid #fff;
        padding-bottom: 10px;
        margin-bottom: 10px;
        &::before {
            display: block;
            content: '';
        }
    }

    &_list {
        cursor: pointer;
        border-radius: 2px;

        p {
            height: 30px;
            display: flex;
            align-items: center;
            &:first-of-type {
                padding-left: 5px;
            }
        }

        img {
            height: 80%;
            margin-right: 5px;
            user-select: none;
        }

        .checkbox {
            transform: scale(1.5)
        }

        &.active {
            background-color: #111f5b;
        }

        &.active:hover {
            background-color: #263eac;
        }
        
        &:hover {
            background-color: #263eac;
            opacity: 1;
        }
    }

    &_header, &_list .filter {
        display: grid;
        grid-template-columns: 30px 40px 200px 100px 200px 200px 200px 200px 200px;
        line-height: 1;
    }

    .clear_buttons {
        margin-top: 20px;
        width: 100%;
        display: flex;
        justify-content: center;
        .btn {
            font-size: 1.6rem;
            margin: 20px 10px;
        }
        .generate {
            filter: contrast(0);
            user-select: none;
        }
        .generate.active {
            filter: contrast(1);
            animation: generateButtonActive 1s linear infinite;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}

/************************************************************
    PARTS - FOOTER
************************************************************/

.footer {
    width: 100vw;
    background: $footer-bg;
    color: #fff;
    padding: 20px 2rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 1.6rem;
    font-style: italic;
    position: relative;
    z-index: 90;

    &.map_overview {
        width: calc(100vw - 320px);
        padding-right: 2.4rem;
    }

}

/************************************************************
    PARTS - MAIN HEADER
************************************************************/

.main_header {
    max-width: 1300px;
    width: 100%;
    font-size: 3.6rem;
    display: grid;
    grid-template-columns: 180px auto;
    column-gap: 40px;
    padding: 1rem;
    border-radius: 2px;
    margin-bottom: 40px;
    line-height: 1;
    background: $body-bg;
    @extend .ce-shadow;

    img {
        grid-row: 1 / span 2;
    }

    .platform {
        font-size: 1.7rem;
        color: #939393;
        opacity: 0.65;
        font-style: italic;
        text-align: right;
    }

    h1 {
        transform: translateY(8px);
        color: #fff;
        font-weight: 100;
    }

    span {
        font-size: 1.7rem;
        color: #939393;
        margin-left: 20px;
        font-style: italic;
    }
}

/************************************************************
    PARTS - SUB HEADER
************************************************************/

.sub-header {
    margin: 20px;
    font-size: 3.8rem;
    border-bottom: 2px solid #fff;
    display: inline-flex;
    align-items: flex-end;
    width: calc(100% - 40px);
    justify-content: space-between;
    p {
        font-weight: 100;
        font-size: 2.3rem;
        margin-bottom: 5px;
        &:hover a{
            color: #697ee1;
        }
    }
}

/************************************************************
    PARTS - SIDEBAR
************************************************************/

.sidebar {
    background: $sidebar-bg;
    color: #7c7c7c;
    height: 100vh;
    box-shadow: 0px -11px 31px -27px #000;
    transition: all .47s ease;
    width: $sidebarWidth-lg;
    box-shadow: 2px 0 10px 3px rgba(0, 0, 0, 0.54);
    position: absolute;
    z-index: 100;
    top: 0;

    &.compact {
        width: $sidebarWidth-sm;

        .container {
            width: $sidebarWidth-lg;
        }
    }

    .container {
        transition: all .35s ease;
        left: 0;
        padding: 20px 5px 20px 2rem;
    }

    .container-mobile {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
    }

    .header {
        display: flex;
        justify-content: space-between;
        padding: 20px 0 40px;

        &__title {
            display: inline-flex;
        }

        &__logo {
            width: 40px;
            border-radius: 20px;
        }

        &__site {
            color: #fff;
            font-size: 2rem;
            margin-left: 20px;
        }

        &__button {
            width: 45px;
            padding-top: 7px;
        }

        &__menu {
            cursor: pointer;
            transition: all .23s ease;
            position: absolute;
            width: 40px;
            left: 250px;
            z-index: 999;

            rect {
                fill: #fff;
            }
        }
    }

    .wrapper-scroll {
        height: calc(100vh - 80px);
        overflow-y: scroll;
        padding-right: 10px;
        padding-bottom: 40px;

        &::-webkit-scrollbar {
            background-color: transparent;
            width: 10px;
        }

        &::-webkit-scrollbar-thumb {
            border-radius: 100px;
            background: #1d44f0;
            border: 1px solid rgba(255, 255, 255, 0.32);
        }
    }

    .subheader h2 {
        color: #fff;
        text-align: center;
        font-weight: 300;
        font-size: 3rem;
        margin-top: 20px;
        cursor: pointer;
    }

    hr {
        margin: 10px 0 15px;
    }

    .tablecontents {
        font-size: 1.5rem;

        h3 {
            text-align: center;
            margin-bottom: 20px;
        }

        .tbc-set {
            ul {
                margin-left: 20px;
                margin-bottom: 20px;
            }

            li {
                cursor: pointer;
                color: #fff;
                padding-left: 5px;
                border-radius: 7px;
                will-change: background-color;
                transition: background-color .08s ease;

                &:hover {
                    background-color: $sidebarHov;
                }
            }
        }
    }
}

.overlay {
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0px;
    top: 0;
    z-index: 95;
    background-color: rgba(2, 0, 36, 0.4);
}

/************************************************************
    PARTS - MAP DETAILS
************************************************************/

.map_details {
    height: 100vh;
    color: #fff;
    padding: 20px 10px 70px;
    overflow-y: scroll;
    background-color: rgba(0, 0, 0, 0.839);
    box-shadow: -8px 0 10px 3px rgba(0, 0, 0, 0.839);
    position: fixed;
    z-index: 95;
    width: 330px;
    right: 0;
    top: 0;

    &::-webkit-scrollbar {
        background-color: transparent;
        width: 20px;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 100px;
        background: #8070d4;
        border: 6px solid rgb(12, 3, 53);
        cursor: pointer;
    }

    .title {
        text-align: center;
        margin: 20px 0 10px;
        color: #fff;

        &__sub {
            font-size: 1.3rem;
            font-weight: normal;
            font-style: italic;
        }

        &__type {
            text-align: left;
            margin-bottom: 5px;
            opacity: 0.2;
            font-style: italic;
            position: absolute;
            top: 20px;
            font-size: 2rem !important;
        }
    }

    .sub {
        font-style: italic;
    }

    hr {
        opacity: 0.7;
        margin: 15px 5px;
    }

    //CHECKBOX
    .mark_completion {
        font-size: 1.4rem;
        text-align: center;
        display: grid;
        grid-template-columns: 30px auto;
        align-items: center;
        margin: 10px 0;
    }

    .checkbox {
        width: 30px;
        height: 30px;
        border: 1px solid #fff;
        border-radius: 5px;
        margin-right: 10px;
        cursor: pointer;
        background-color: transparent;

        &.complete {
            background-color: #fff
        }
    }


    .te_action {
        border-radius: 5px;
        padding: 0.4rem 0.8rem;
        font-size: 1.3rem;
        margin-bottom: 20px;
        background-color: $bg_te_action;

        &.glow_effect {
            animation: glowBox 0.5s linear infinite;
        }
    }

    .event_battles {
        &__forced {
            @extend .te_action;
            margin: 10px 0 0;
            border-radius: 5px 5px 0 0px;
            background-color: $bg_battle;
        }
    }

    .rewards {
        @extend .te_action;
        background-color: $bg_reward;

    }

    .notes {
        @extend .te_action;
        background-color: $bg_notes;

        p {
            font-weight: 200;
        }
    }

    .dungeon {
        font-size: 20px;
        text-align: center;
        padding: 20px 0;
    }

    .bestiary {
        font-size: 1.2rem;

        h3 {
            font-size: 2rem;
            text-align: center;
            margin-bottom: 20px;
        }

        &__monster {
            font-size: 1.6rem;
        }

        &__title {
            margin-bottom: 20px;
            color: #777;
            padding-left: 10px;
        }
    }

}
