$background: #131f2f;
$sidebar-bg: #040811;
$sidebarHov: #161624;
$bestiaryHov: #105ac3;

$body-bg: #07182C;
$footer-bg: #18141e;

$bg_battle: #00145c;
$bg_reward: #0c4d60;
$bg_te_action: #8d0707;
$bg_notes: #484848;

$synthPrimary: #110956;
$synthSecondary: #250683;

$screen-sm-min: 576px;
$screen-md-min: 768px;
$screen-lg-min: 992px;
$screen-xl-min: 1800px;

$sidebarWidth-lg: 330px;
$sidebarWidth-sm: 80px;