$background: #131f2f;

$bg_battle: #00145c;
$bg_reward: #0c4d60;
$bg_te_action: #8d0707;
$bg_notes: #484848;

$screen-sm-min: 576px;
$screen-md-min: 768px;
$screen-lg-min: 992px;
$screen-xl-min: 1400px;